.card {
  height: 300px;
  width: 650px;
  background-color: #7a7d3d;
  padding: 12px;
}

.name {
  color: black;
  margin: 0px;
  font-family: "Azeret Mono";
}

.position {
  color: gold;
  font-family: "Dancing Script";
  font-size: 21px;
}
